.console, .rental-reservation, .return, .report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.console {
  height: 69vh;
}

.form {
  width: 400px;
  margin: 24px 0;
}

.accordion {
  margin: 24px 0;
  width: 80vw;
}

.tabs {
  background-color: #343a40;
}

.nav-link.active {
  color: #007bff !important;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #007bff;
}

.alert {
  position: fixed;
  top: 24px;
}

.table-wrapper {
  margin: 32px;
}

.table {
  margin-bottom: 32px;
  width: 75vw;
}

.report-note {
  width: 50vw;
  opacity: 0.5;
}