.reservation, .vehicles, .register, .viewcancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.tabs {
  background-color: #343a40;
}

.nav-link.active {
  color: #007bff !important;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #007bff;
}

.form {
  width: 400px;
  margin: 24px 0;
}

.alert {
  position: fixed;
  top: 24px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.note {
  margin-bottom: 32px;
}

.dropdown-type {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  justify-content: space-evenly;
}

.interval-picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
}